@import "tailwindcss";
:root {
  --landing-mask-size: 500%;
  --mask-pos: 50% 64%;
}


::view-transition-old(root) {
  animation-duration: .4s;
}

::view-transition-new(root) {
  animation-duration: .4s;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #000;
  color: #fff;
}

/* Fix GSAP pinSpacer full-width */
.pin-spacer {
  width: 100% !important;
}

@theme {
  --color-primary: rgba(0, 101, 202, 1);
  --color-secondary: rgba(0, 181, 232, 1);
  --color-tertiary: rgba(159, 32, 225, 1);
} 

.masked {
  position: relative;
  overflow: hidden;
  --hero-before-opacity: 0;
  -webkit-mask-image: url('/sparks2.svg');
  mask-image: url('/sparks2.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: var(--landing-mask-size) ;
  mask-size:  var(--landing-mask-size);
  -webkit-mask-position: var(--mask-pos);
  mask-position: var(--mask-pos);
  
  
}

.masked::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--color-secondary);
  opacity: var(--hero-before-opacity);
  pointer-events: none;
  z-index: 2;
}

.masked > * {
  position: relative;
  z-index: 1;
}
